@media (min-width: 1200px) {
  /* 覆盖原有 1em 的字体大小 */
  .post-body {
    font-size: 1em;
  }
}

/* 调整 Prism 下代码的默认字体大小 */
pre[class*="language-"] {
  font-size: 14px;
}

/* 调整返回顶部按钮的位置 */
.back-to-top{
  left: auto;
  right: 30px;
}
